* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {

  width: 5%;
  height: auto;
}
.logo img{
  width: 100%;
}
.links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.links li {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.links li:hover {
  color: orange;
}

.itemCardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 305px;
  height: 350px;
  box-shadow: 10px 4px 8px black;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(0.9);
}

.card .image {
  width: 100%;
  height: 180px;
  background-color: rgba(155, 155, 155, 0.541);
}
.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.card .boldTxt {
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
}

.card .lightTxt {
  font-size: 0.9rem;
  color: #555;
  margin-top: 5px;
}

 .cuisines {
  font-weight: normal;
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .itemCardHolder {
    flex-direction: column;
    align-items: center;
  }
  .logo {

    width: 15%;
    height: auto;
  }
  .logo img{
    width: 100%;
  }
  .card {
    width: 205px;
    height: 350px;
    box-shadow: 10px 4px 8px black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
}
.shimmer-content-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shimmer-content{
  background-color: #333;
}
.offlineNotification{
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}