@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* @font-face {
  font-family: 'Gilroy-medium';
  src: url();
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Gilroy-medium';
}

.logo {
  width: 5%;
  height: auto;
}

.logo img {
  width: 100%;
}

.links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.links li {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.links li:hover {
  color: orange;
}

.itemCardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 10px auto;
  padding: 20px;
}

.card {
  width: 300px;
  height: 280px;
  box-shadow: 10px 4px 8px black;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s ease-in-out;
  position: relative;
  cursor: pointer;
}

.card:hover {
  transform: scale(0.9);
}

.card .image {
  width: 100%;
  height: 180px;
  background-color: #b0b0b0;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.card .content {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.card .boldTxt {
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
}

.card .lightTxt {
  font-size: 1rem;
  color: #555;
  margin-top: 5px;
}

.cuisines {
  font-weight: normal;
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .itemCardHolder {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 15%;
    height: auto;
  }

  .logo img {
    width: 100%;
  }

  .card {
    width: 205px;
    height: 350px;
    box-shadow: 10px 4px 8px black;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
}

.shimmer-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shimmer-content {
  background-color: #333;
}

.offlineNotification {
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}

.searchbar {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar input {
  width: 50%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid red;
  transition: .2s linear;
}

.searchbar input:focus {
  outline: none;
  background-color: #ffe4e4;
}

.aggregatedDiscount {
  top: 80%;
  left: 10px;
  position: absolute;
  color: white;
  font-weight: bold;
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.7), rgba(255, 140, 0, 0.7));
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 1rem;
}

.gradient-bg {
  background-color: red;
  width: 100%;
}

/* Loader Styling */
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 30px;
  padding: 0 5px 8px 0;
  background: repeating-linear-gradient(90deg, currentColor 0 8%, #0000 0 10%) 200% 100%/200% 3px no-repeat;
  animation: l3 2s steps(6) infinite;
}

.loader:before {
  content: "Loading...";
}

@keyframes l3 {
  to {
    background-position: 80% 100%;
  }
}

/* Shimmer Animation and Loader positioning */
.loading-shimmer {
  display: flex;
  position: relative;
  flex-direction: column;
}

.shimmer-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shim-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;  /* Keep it relative for positioning loader correctly */
}

.loadingIcon {
  position: absolute;
  top: 10%;
  background-color: rgba(170, 170, 170, 0.555);
  padding: 20px; /* Center the loader vertically */
  left: 50%; /* Center the loader horizontally */
  transform: translate(-50%, -50%); /* Adjust for the center */
  z-index: 10; /* Place loader above the shimmer cards */
}
a{
  text-decoration: none;
  color: black;
}
.restaurantContainer{
  width: 59%;
  margin: 20px auto;
  position: relative;
}
.res-content-bg{
  background-color: red;
  padding: 0px 20px 20px 20px;
  margin-top: 40px;
  border-radius: 20px;
  background: rgb(173,173,173);
  background: linear-gradient(0deg, rgba(173,173,173,0.44579830223104866) 11%, rgba(255,255,255,0) 50%); 
}
.res-name{
  font-weight: bolder;
  font-size: 1.8rem;

  padding-left: 20px;
}
.restaurant-content {
 
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(90, 90, 90, 0.2);
  padding: 20px;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 
              0px 0px 10px rgba(0, 0, 0, 0.05);
  font-size: 1.1rem;
  font-weight: 600;
}
.restaurant-cuisines{
  color: rgb(255, 82, 0);
  font-size: medium;
  text-decoration: underline;
}
.outlet{
  display: flex;
  gap: 20px;
 
  flex-direction: column;
}
.lightTxt{
  color: rgb(122, 120, 120);
  
}
.outlet-line {
  width: 2px;
  height: 40px;
  background-color: #ccc;
  margin-right: 10px;
}
.menuContainer {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.menuCardHolder {
  display: flex;
  flex-direction: column;
  gap: 20px;
}







.ribbon {
  background: #ff5722;
  color: white;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 5px;
}

h2.lightTxt {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  color: #ff5722;
}

p {
  font-size: 14px;
  color: #666;
}



.sideBar {
  width: 200px;
  background-color: #ddd;
  padding: 10px;
}

.mainContainer {
  flex-grow: 1;
  background-color: #fff;
  padding: 10px;
}

.menuCard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.menuCard p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 5px;
}

.menuCard div {
  font-size: 1rem;
  font-weight: 500;
  color: #444;
  padding: 5px 0;
}
.menuCardItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  gap: 20px;
  cursor: pointer;
}

.menuCardContent {
  width: 60%;
}

.thumbnail {
  width: 30%; /* Fixed width */
  height: 210px; /* Fixed height to maintain consistency */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
  border-radius: 10px;
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 10px;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures all images fill the box without stretching */
 border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.noImage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #888;
}

.addBtn {
  border: none;
  outline: none;
  width: 100%;
  padding: 8px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.addBtn:hover {
  background-color: #218838;
}
.menuCardDescription{
  color: red;
}